*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.section {
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Fredoka-Regular';
}

main {
    flex-grow: 1;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar__logo {
    display: flex;
    align-items: center;
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 33px;
    color: #374A3D;
}

.navbar__menu {
    display: flex;
    align-items: center;
}

.navbar__menu_item a{
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color:#1D3B53;
    margin-left: 40px;
    transition: 0.2s linear color ;
}

.navbar__menu_item a:hover {
    color: rgb(70, 176, 74);
}

.navbar__wrapper {
    display: flex;
    align-items: center;
}

.navbar__login {
    margin-left: 60px;
    display: flex;
    align-items: center;
}

.navbar__btn {
    background-color: #0CA941;
    border: none;
    border-radius: 6px;
    padding: 10px 30px;
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 20px;
}

.navbar__img{
    margin-left: 8px;
    margin-right: 2px;
}

.gar {
    position: absolute;
    display: none;
    max-width: 1600px;
    margin: 0 auto;
}

.gar_1 {
    position: relative;
    margin-left: 32px;
}

.circle {
    position: absolute;
    width: 360px;
    aspect-ratio: 1;
    background: rgba(114, 162, 101, 0.48);

    top: 30%;
    left: 75%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
    filter: blur(100px);

    z-index: -1;
}

@media (min-width: 1300px) {
    .gar {
        display: flex;
    }
}

/*header*/

.header_wrapper {
    padding: 130px 0;
}

.header_upper{
    display: flex;
    justify-content: space-between;
}

.header_upper-title h1 {
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    color: #374A3D;
}

.bea {
    color: #0CA941;
}

.header_upper-title p {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 540px;
    color: #707070;
}

.girl {
    margin-right: -145px;
    margin-top: -40px;
}

.shop {
    display: inline-block;
    padding: 14px;
    margin-top: 100px;
    color: #374A3D;
    background: none;
    border: 1px solid #0CA941;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.line {
    margin-left: 150px;
    margin-top: -40px;
}

.kaktus {
    margin-left: 250px;
}


.line {
    margin-left: 150px;
    margin-top: -40px;
}

.kaktus {
    margin-left: 250px;
}


.service_title {
    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    width: 290px;
    color: #374A3D;
}

.service_text p {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
    width: 311px;
    color: #5B7262;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    margin-top: 20px;
}

.card_1 h2 {
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 32px;
    color: #0CA941;
}

.card_1 p {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    line-height: 32px;
    width: 150px;
    color: #678570;
}

.card_2 h2 {
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 32px;
    color: #0CA941;
}

.card_2 p {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
    line-height: 32px;
    width: 150px;
    color: #678570;
}

.card_3 h2 {
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 32px;
    color: #0CA941;
}

.card_3 p {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 15px;
    line-height: 32px;
    width: 150px;
    color: #678570;
}

.gardener {
    display: flex;
    padding: 120px 0 100px 0;
}

.gardener_info {
    display: flex;
    flex-direction: column;
}

.gardener_title {
    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 600;
    margin-top: 45px;
    font-size: 36px;
    line-height: 44px;
    width: 400px;
    color: #374A3D;
}

.gardener_text {
    font-family: 'Fredoka-Regular';
    padding-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    width: 458px;
    color: #678570;
}

.text_gardener {
    margin-left: 25%;
}

.read {
    display: inline-block;
    padding: 14px;
    margin-top: 30px;
    color: #374A3D;
    background: none;
    border: 1px solid #0CA941;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.prof_service {
    display: flex;
    justify-content: space-between;
}

.prof_service-info {
    display: flex;
    flex-direction: column;
}

.pro_service-info_title {
    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    width: 458px;
    color: #374A3D;
}

.pro_service_text {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 458px;
    color: #678570;
}

.wrapper {
    display: flex;
    width: 50%;
    position: relative;
}

.wrapper__item {
    position: absolute;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 8px 9px 42px rgba(12, 169, 65, 0.12);
    border-radius: 10px;
    text-align: center;
    padding: 0 25px;
}

.wrapper__title {
    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 14px;
    line-height: 26px;
    color: #374A3D;
}

.wrapper__text {
    min-width: 218px;
    max-width: 220px;
    padding-bottom: 15px;
    font-family: 'Fredoka-regular';
    color: #678570;
}

.wrapper__item--first {
    top: 15%;
    left: 0;
}

.wrapper__item--second {
    bottom: 55%;
    left: 50%;
}

.wrapper__item--third {
    top: 55%;
    left: 50%;
}

.plant {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.plant_info {
    display: flex;
}

.plant_title {
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-top: 150px;
    margin-left: 70%;
    line-height: 60px;
    width: 444px;
    color: #374A3D;
}

.text_plant {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin-top: 31px;
    margin-left: 60%;
    width: 531px;
    color: #678570;
}

.dream {
    display: flex;
    width: 50%;
    position: relative;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dream__plant {
    height: 437px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.36);
    border-radius: 37px;
    padding: 30px 60px 90px;
}

.dream__title {
    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 270px;
    color: #374A3D;
}

.flowers {
    align-items: center;
    margin-left: 45px;
}

.stars_1 {
    margin-top: 5px;
    margin-left: 12px;
}

.stars_2 {
    margin-top: 5px;
}

.stars_3 {
    margin-top: 5px;
    margin-left: 25px;
}

.star_1 {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 55%;
    margin-top: -27px;
    color: #678570;
}

.star_2 {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 50%;
    margin-top: -27px;
    color: #678570;
}

.star_3 {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 60%;
    margin-top: -27px;
    color: #678570;
}

.price {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 20px;
    color: #678570;
}

.price > span {
    font-family: 'Fredoka-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0CA941;
}

.price_2 {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 5px;
    color: #678570;
}

.price_2 > span {
    font-family: 'Fredoka-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0CA941;
}

.price_3 {
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-top: 23px;
    margin-left: 35px;
    color: #678570;
}

.price_3 > span {
    font-family: 'Fredoka-SemiBold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0CA941;
}

.add {
    background: #FFFFFF;
    border: 2px solid #374A3D5C;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 25px;

    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #678570;
}

.dream_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}